.attribute-pager {
    margin-bottom: 18px;
}

.attribute-pager-bottom {
    margin-top: 10px;
}

.attribute-pager-filter {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    margin-right: 16px;
}

.attribute-pager-filter-input {
    min-width: 220px;
}
